# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
media/

# Environment Variables
.env
.env.*

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Test & Coverage
.coverage
.pytest_cache/
htmlcov/

# Build Files
build/
dist/
*.egg-info/

# Docker
Dockerfile
docker-compose.yml
.dockerignore