# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Django
db.sqlite3

# Static files
staticfiles/

# Media files
media/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store